@model Employee

<h2>Create Employee</h2>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
@*@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@
<body>
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.LabelFor(d => d.Name)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.LabelFor(d => d.Surname)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Surname, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.LabelFor(d => d.Age)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Age, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.LabelFor(d => d.DepartmentRecordId)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.DepartmentRecordId, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.LabelFor(d => d.TittleRecordId)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.TittleRecordId, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.LabelFor(d => d.Salary)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Salary, null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-default">Çalışan Ekle</button>
        </div>
    }
    </body>
